body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
}

main {
  margin: 50px 0;
}

 
footer, header {
  background: #011627;
  color: white;
}

header {
  padding: 5px 5% 10px;
  font-size: clamp(1.4rem, 4vw, 2rem);
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #2EC4B6;
}


footer {
  padding: 8px 0;
}

h1 {
  margin: 0;
  padding: 10px 0 0;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background: rgb(54, 53, 56);
  padding: 5px 0;
}

nav ul a{
  color: white;
  text-decoration: none;
}

nav ul a{
  color: white;
  text-decoration: none;
}

nav ul a:hover{
  color: bisque;
  text-decoration: underline;
}

.selected {
  color: rgb(250, 214, 169);
}


.controls {
  border: 1px solid #202020;
  border-radius: 10px;
  padding: 20px 30px;
  background: rgb(212, 197, 199);
  width: 300px;
  margin: 0 auto;
}

.description {
  border: 3px solid #202020;
  display: inline-block;
  background-color: rgba(247, 160, 62, 0.473);
  padding: 10px;
  margin-top: 20px;
}

.strong {
  font-weight: bolder;
}

.alert {
  display: none;
}

.crossroad-wrapper {
  position: relative;
}

/* real stuff */
.car {
  width: 70px;
}

.follow-path {
  position: absolute;
}

.motion-path {
  position: absolute;
  margin: 0 auto;
}


/* BLUE */
#case_blue .motion-path {
  width: 200px;
  top: 34.4%;
  right: 37%;
}

#case_blue .follow-path {
  top: 10px;
  left: 80px;
}

#blueCar {
  z-index: 10;
  transform: rotate(180deg);
}


/* RED */
#case_red .motion-path {
  width: 370px;
  bottom: 40.3%;
  left: 39.4%;
}

#case_red .follow-path {
  top: -5px;
  left: 0px;
}

#redCar {
  z-index: 10;
}


/* GREEN */
#case_green .motion-path {
  width: 60px;
  bottom: 25.5%;
  right: 46%;
}

#case_green .follow-path {
  bottom: 0px;
  left: 0px;
}

#greenCar {
  z-index: 10;
  transform: rotate(-90deg);
}
